<form #form="ngForm" style="width:94%" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <label>ID</label>
    <input name="Id" readonly #Name="ngModel" [(ngModel)]="service.addData.id" class="form-control">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="Name" #Name="ngModel" [(ngModel)]="service.addData.name" class="form-control" required>
    <div class="validation-error" *ngIf="Name.touched && Name.invalid">*This is required</div>
  </div>
  <div class="form-group">
    <label>Age</label>
    <input type="number"  name="Age" #Age="ngModel" [(ngModel)]="service.addData.age" class="form-control" required>
    <div class="validation-error" *ngIf="Age.touched && Age.invalid">*This is required</div>
  </div>
  <div class="form-group">
    <label>Weight</label>
    <input type="number" name="Weight" #Weight="ngModel" [(ngModel)]="service.addData.weight" class="form-control" required>
    <div class="validation-error" *ngIf="Weight.touched && Weight.invalid">*This is required</div>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-4">
        <button type="submit"  [disabled]="form.invalid" class="btn btn-sm btn-block">Save</button>
      </div>
      <div class="col-sm-4">
        <button type="button" (click)="ClearForm(form)" class="btn btn-sm btn-block">Clear</button>
      </div>
    </div>
  </div>
</form>
