<form #form="ngForm" style="width:94%" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <label>Name</label>
    <input name="Name" #Name="ngModel" [(ngModel)]="service.employeeData.name" class="form-control" required>
    <div class="validation-error" *ngIf="Name.touched && Name.invalid">*This is required</div>
  </div>
  <div class="form-group">
    <label>Age</label>
    <input type="number"  name="Age" #Age="ngModel" [(ngModel)]="service.employeeData.age" class="form-control" required>
    <div class="validation-error" *ngIf="Age.touched && Age.invalid">*This is required</div>
  </div>
  <div class="form-group">
    <label>Weight</label>
    <input type="number" name="Weight" #Weight="ngModel" [(ngModel)]="service.employeeData.weight" class="form-control" required>
    <div class="validation-error" *ngIf="Weight.touched && Weight.invalid">*This is required</div>
  </div>
  <div class="form-group" style="margin-top: 3px;">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Add</button>
  </div>
</form>
