<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>ID</th> <th>Name</th> <th>Age</th>  <th>Weight</th> <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let emp of service.employeeList">
            <td>{{emp.id}}</td> <td>{{emp.name}}</td> <td>{{emp.age}}</td>  <td>{{emp.weight}}</td>
            <td>
              <button class="btn btn-default btn-sm shadow-none"><i class="fa fa-pencil" style="font-size:15px"></i></button>
              <button class="btn btn-default btn-sm shadow-none"><i class="fa fa-trash" style="font-size:15px"></i></button>
              <button class="btn btn-default btn-sm shadow-none"><i class="fa fa-save"  style="font-size:15px"></i></button>
              <button class="btn btn-default btn-sm shadow-none"><i class="fa fa-ban"  style="font-size:15px"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"><button (click)="clear()">LogOff</button></div>
  </div>
</div>
