<div class="jumbotron">
  <div class="row">
    <div class="col-lg-7"><h1 class="display-4 text-center">Employee Register</h1></div>
    <div class="col-lg-4"><button class="btn btn-danger btn-sm shadow-none" style="float: right;" (click)="clear()">LogOff</button></div>
    <div class="col-lg-1"></div>
  </div>
  <hr>
  <div class="row">

    <!--List all Employees-->

    <div class="col-md-7">
      <emp-list></emp-list>
    </div>

    <!--Add Employee Popup-->

    <div class="col-md-5">
      <app-add></app-add>
    </div>


  </div>
</div>
